<!DOCTYPE html>
<html lang="en">
<head>
  <title>Curso Vue.js</title>
</head>
<body>
  <div id="app">
    <h1 v-if="mostrar">Este es mi título</h1>
    <h2 v-if="mostrar">Este es mi subtitulo</h2>
    <a v-if="mostrar" :href="url" target="_blank">
      Ir a {{pagina}}
    </a>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        url: 'https://google.com',
        pagina: 'Google',
        mostrar: true
      }
    })
  </script>
</body>
</html>
